:root {
  --colour-stone: #e4e0d4;
  --colour-gravel: #d3cfc5;
  --colour-black: #424242;

  --font-primary: "Graphik", "Arial";
  --font-size-title: 1.999rem;
  --font-size-heading: 1.414rem;
  --font-size-body: 1.125rem;
  --font-size-small: 0.707rem;
}
