/**
 * TODO: header, main and nav alignment
 *  
 * Currently the items across the top of the page are aligned 
 * using padding. These should all be aligned on the same baseline.
 * 
 * Currently the grid system won't support this as it's just three columns
 * and will require two rows with three columns in.
 */

.page {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-gap: 20px;
  grid-template-areas: "header main nav";
  margin: 30px;
  min-width: 260px;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.nav {
  grid-area: nav;
  text-align: right;
}

@media only screen and (max-width: 760px) {
  .page {
    grid-template-areas:
      "header nav"
      "main main";
    grid-template-columns: 2fr 1fr;
    flex-direction: column;
    margin: 20px;
  }
}
